
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Heebo:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(ab.jpg) no-repeat center center fixed ;
    background-size: cover;
}

.container{
    
     color:white;
     position: absolute;
     top: 45%;
     left: 38%;
}
.container h1{
    display: inline-block;
    font-family: 'Heebo', sans-serif;
    width: 50%;
    font-size: 40px;
    border-bottom:5px solid purple ;
    margin-bottom: 15px;
    padding: 13px 0;
}
.box{
    width: 100%;
    border-bottom: 2px solid purple;
    margin: 22px 0px ;

}
.box input{
    width: 75%;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
    color:white;
    background: none;

}

.btn{
    cursor: pointer;
    outline:none;
    margin: 12px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid purple;
    background: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
    .btn:hover{
        background: white;
        color: purple;
        opacity: 0.5;
}
.box i{
    width: 25px;
    
    text-align: center;
}